OPEN_CASCADE_DIR=<OpenCASCADE installation directory with subdirs like 'cmake', 'inc', 'src', etc.>
THIRD_PARTY_DIR=<OpenCASCADE 3rd party installation directory with subdirs like 'jemalloc-vc14-64', etc.>
